{% extends "core/base.html" %}

{% block content %}
  <div class="messages">
    <div class="messages--received">

      {% for message in messages %}
      <div class="message-element">
          <div class="message-element--header" id="chat-messages">
            <div class="message-element--header--date">
              {{message.created_at}} |
            </div>
            <div class="message-element--header--name">
              {{message.user.name}}:
            </div>
          </div>
          <div class="message-element--body">
            {{message.text}}
          </div>
        </div>
        <hr>
      {% endfor %}

    </div>

    <div class="messages--send">
      <input type="text" placeholder="Digite aqui" id="chat-message-input">
      <button class="button is-bg-orange" id="chat-message-submit">Submit</button>
    </div>

  </div>

  {{ group.uuid|json_script:"json-roomuuid" }}
  {{ group.name|lower|json_script:"json-roomname" }}
  {{ user.uuid|json_script:"json-useruuid" }}

{% endblock %}

{% block js %}
  <script>

      const roomUuid = JSON.parse(document.getElementById('json-roomuuid').textContent);
      const userUuid = JSON.parse(document.getElementById('json-useruuid').textContent);
      const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
      
      const chatSocket = new WebSocket(
          'ws://'
          + window.location.host
          + '/ws/'
          + roomName
          + '/'
      );

      chatSocket.onmessage = function(e) {
          const data = JSON.parse(e.data);

          if (data.message) {
              document.querySelector('#chat-messages').innerHTML += ('<b>' + data.username + '</b>: ' + data.message + '<br>');
          } else {
              alert('A mensagem está vazia!');
          }
      };

      chatSocket.onclose = function(e) {
          console.log('The socket close unexpectadly');
      };

      document.querySelector('#chat-message-submit').onclick = function(e) {
          const messageInputDom = document.querySelector('#chat-message-input');
          const message = messageInputDom.value;

          chatSocket.send(JSON.stringify({
              'message': message,
              'useruuid': userUuid,
              'roomuuid': roomUuid,
          }));

          messageInputDom.value = '';
      };
     
  </script>
{% endblock %}

       